/* , and end it with 

:root {
    --main-radius: 1vh;
    --main-padding: 2vh;
}
*/

h5 {
    font-size: 80%;
}

p {
    font-size: 80%;
}

.container {
    display: grid;
    height: 90;
    grid-template-columns: 0.7fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.8fr 0.8fr 0.1fr;
    grid-template-areas: "nav nav nav nav" "sidebar main main main" "sidebar content1 content2 content3" "sidebar content4 content5 content6" "footer footer footer footer";
    gap: 0.5vh;
    background-color: rgb(230, 224, 224);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*Añadir colores a las secciones */

.nav {
    background-color: rgb(34, 34, 35);
    grid-area: nav;
    color: white;
    align-items: center;
    margin: 0.5vh;
}

.main {
    background-color: white;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    margin: 0.5vh;
}

#guitarmain {
    width: 90%;
    margin: 1vh;
}

#sidebar {
    background-color: white;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1vh;
    height: 98%;
    margin: 0.5vh;
}

#content1 {
    background-color: white;
    grid-area: content1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin: 0.5vh;
}

.guitarcard {
    width: 100%;
}

.guitarcard2 {
    width: 50%;
}

.btncard {
    background-color: red;
    align-items: center;
    width: 100%;
    color: white;
}

#content2 {
    background-color: white;
    grid-area: content2;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin: 0.5vh;
}

#content3 {
    background-color: white;
    grid-area: content3;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin: 0.5vh;
}

#content4 {
    background-color: white;
    grid-area: content4;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin: 0.5vh;
}

#content5 {
    background-color: white;
    grid-area: content5;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin: 0.5vh;
}

#content6 {
    background-color: white;
    grid-area: content6;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin: 0.5vh;
}

footer {
    background-color: rgb(45, 46, 47);
    grid-area: footer;
    margin-top: 10vh;
    align-items: center;
    text-align: center;
    padding: 0.2vh;
    color: whitesmoke;
    margin-top: 15px;
    margin-bottom: -10vh;
}

.flag {
    width: 10vh;
}

@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.4fr 0.6fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 0.2fr;
        grid-template-areas: "nav" "sidebar" "main" "content1" "content2" "content3" "content4" "content5" "content6" "footer";
    }
}